Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

Installing pandas on jupyter notebook without using terminal

In [93]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\azfar\anaconda3\envs\python12\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\azfar\anaconda3\envs\python12\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\azfar\anaconda3\envs\python12\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\azfar\anaconda3\envs\python12\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\azfar\anaconda3\envs\python12\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\azfar\anaconda3\envs\python12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ypy (c:\Users\azfar\anaconda3\envs\python12\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ypy (c:\Users\azfar\anaconda3\envs\python12\Lib\site-packages)

IMPORTING TABLE FROM WEBSITE

In [94]:
%pip install lxml

Requirement already satisfied: lxml in c:\users\azfar\anaconda3\envs\python12\lib\site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ypy (c:\Users\azfar\anaconda3\envs\python12\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ypy (c:\Users\azfar\anaconda3\envs\python12\Lib\site-packages)

In [95]:
import pandas as pd
table= pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

OPERATORS

In [96]:
# Exponentiation
print(2**3)

8

In [97]:
# Division
print(14/3)

4.666666666666667

In [98]:
# Floor Division
print(14//3)

4

Python Assignment Operator

In [99]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [100]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [101]:
a : int = 3
b : int = 8

print( a == b )

False

ASCII Code

a=65
z=90

a=97
z=1222

0=48
9=57

In [102]:
a : str = 'a'
b : str = 'A'

print( a >= b )

True

In [103]:
# ASCII code to character
chr(65)

'A'

In [104]:
# Character to ASCII Code
ord('A')

65

Comparision Operators

In [105]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [106]:
True and True and False

False

In [107]:
True or True or False

True

In [108]:
True and not False

True

In [109]:
name : str = "Azfar"
print(not name =="Azfar")

False

Python Identity Operator

In [110]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [111]:
x : str = 'abc'
y : str = 'abc'
print(id(x))
print(id(y))
x is y

140727762161928
140727762161928

True

In [112]:
x : str = 'abc'
y : str = 'zxc'
print(id(x))
print(id(y))
x is not y

140727762161928
1936445048560

True

Python Membership Operator

In [113]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [114]:
names : list[str] = [ chr(i) for i in range(65 , 91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [115]:
names : list[str] = [ chr(i) for i in range(65 , 91)]
# Using loop to check
for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break
# Using 'In' Operator to check
'D' in names

0 A
1 B
2 C
3 D
True

True

In [116]:
names: list[str] = ['Azfar','Huzaifa','Imaz']
uinput : str = input("Please Enter Your Name")
uinput in names

True

PEMDAS

P: Paranthesis
E: Exponential
M: Multiplication
D: Division
A: Addition
S: Subtraction

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

In [118]:
age = 14_000_000_000
print(age)

14000000000

Multiple Assignment in Python

In [119]:
#0 1  2 3 0 1    2        3
a ,b ,c,d=1,2,'Azfar',90789070
print(a)
print(b)
print(c)
print(d)

1
2
azfar
90789070

Unzip Function using (*)

In [120]:
data=("Azfar",21,4.5)
print(*data)

Azfar 21 4.5

Walrus Operator

In [126]:
a : int = 10
if (a < (b := a+5)):
    print(b)
else:
    print("Else Working")

Else Working