String data type in Python

In [2]:
# Boundaries
# 'string' , "string" , '''string''' , ""string"""
# use appropriate boundary according to string
name : str = "Azfar"
f_name : str = "Suhail"
print(name)

Double Quote Usage

In [5]:
message : str = "PIAIC Student Card \n Father's Name"
print(message)

PIAIC Student Card
 Father's Name

Single Quote Usage

In [ ]:
# convert any special character into simple character, place \ before character
# Defining boundaries while making special characters
message : str = 'PIAIC Student Card \n Father\'s Name'
print(message)

Adding string and integer

In [12]:
name : str = "Azfar"
f_name : str = "Suhail"
education : str = "Studying Computer Science"
age : int = 21
card : str = "PIAIC Student Card\nStudent Name: " + name + "\nFather Name: " + f_name + "\nAge: " + str(age) +"\nCurrent Education: " + education
print(card)

PIAIC Student Card
Student Name: Azfar
Father Name: Suhail
Age: 21
Current Education: Studying Computer Science

Using backslash to use multiple lines so python sees the code in new line

In [15]:
print(7 + \
      8 + \
        2 + \
            3)

20

Using backslash to make code easier to handle

In [ ]:
name : str = "Azfar"
f_name : str = "Suhail"
education : str = "Studying Computer Science"
age : int = 21
card : str = "PIAIC Student Card\nStudent Name: " + name + \
            "\nFather Name: " + f_name + \
            "\nAge: " + str(age) + \
            "\nCurrent Education: " + education
print(card)

Definin Multiline String using triple double quotes and F-String

In [21]:
name : str = "Azfar"
f_name : str = "Suhail"
education : str = "Studying Computer Science"
age : int = 21
card : str = f"""PIAIC Student Card
Student Name: {name} 
Father Name: {f_name}
Age: {age}
Current Education: {education} 
Total: {1+1+1+1+1}
"""
# can use python expressions and functions as well
print(card)

PIAIC Student Card
Student Name: Azfar
Father Name: Suhail
Age: 21
Current Education: Studying Computer Science
Total: 5

Jinja Style

In [24]:
# Jinja Style
"""
Student Name 
"""

'\nStudent Name {Name}\n'

Using Placeholder

In [25]:
name : str = "Azfar"
f_name : str = "Suhail"
education : str = "Studying Computer Science"
age : int = 21
card : str = f"""PIAIC Student Card
Student Name: %s
Father Name: %s
Age: %d
Current Education: %s
Total: {1+1+1+1+1}
"""%(name,f_name,age,education)

print(card)

PIAIC Student Card
Student Name: Azfar
Father Name: Suhail
Age: 21
Current Education: Studying Computer Science
Total: 5

Function and Attributes for Strings

In [27]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Using string functions

In [30]:
name : str = "aZfAr"
print(name)
print(name.capitalize())

aZfAr
Azfar

Placeholder {} using F-String

In [31]:
a = 5
b = 9
#                   0         1         0 1
"Pakistan value a= {} and b= {}".format(a,b)

'Pakistan value a= 5 and b= 5'

Using F-String using indexing

In [34]:
name : str = "Azfar"
f_name : str = "Suhail"
education : str = "Studying Computer Science"
age : int = 21
card : str = """PIAIC Student Card
Student Name: {2} 
Father Name: {0}
Age: {1}
Current Education: {3} 
""".format(f_name,age,name,education)
# Index=      0     1    2      3
print(card)

PIAIC Student Card
Student Name: Azfar
Father Name: Suhail
Age: 21
Current Education: Studying Computer Science

Using custom indexing using F-String

In [35]:
name : str = "Azfar"
f_name : str = "Suhail"
education : str = "Studying Computer Science"
age : int = 21
card : str = """PIAIC Student Card
Student Name: {a} 
Father Name: {b}
Age: {c}
Current Education: {d} 
""".format(b=f_name,c=age,a=name,d=education)
print(card)

PIAIC Student Card
Student Name: Azfar
Father Name: Suhail
Age: 21
Current Education: Studying Computer Science

F-String Functionality can be used flike this as well

In [45]:
code : str = """"
print("My Name is Azfar Suhail")
a : int = 8
b : int = 3
print(a+b)
"""
exec(code)

SyntaxError: unterminated string literal (detected at line 1) (<string>, line 1)

Other Functions and Attributes for String

In [58]:
a : list = [i for i in dir(str) if "__" not in i]
print(a)

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [57]:
name : str = "   Azfar  Suhail "
print(name)
display(name.lstrip())
display(name.strip)

   Azfar  Suhail

'Azfar  Suhail '

In [65]:
name : str = "azfar suhail"
print(name.title())

Azfar Suhail