# List
    * Iteration Operation with loop
    * Apply any operation on element

In [28]:
names : list[str] = ["Azfar","Huzaifa","Imaz","Hamza"]
for name in names:
    print(name)

list(enumerate(names))

Azfar
Huzaifa
Imaz
Hamza

[(0, 'Azfar'), (1, 'Huzaifa'), (2, 'Imaz'), (3, 'Hamza')]

In [29]:
for index , name in enumerate(names):
    print(index,name)

0 Azfar
1 Huzaifa
2 Imaz
3 Hamza

In [6]:
for name in names:
    print(f'Welcome {name}')

Welcome Azfar
Welcome Huzaifa
Welcome Imaz
Welcome Hamza

In [22]:
data_base : list[tuple] = [("Azfar",123),("Huzaifa",456),("Imaz",789)]
for row in data_base:
    print(row)

input1 : str = input("Enter Name")
input2 : int = int(input("Enter Password"))
print(input1,input2)

for row in data_base:
   user,password = row 
   if input1 == user and input2 == password:
      print("Valid Data")
      break
else:
   print("Invalid Data")

('Azfar', 123)
('Huzaifa', 456)
('Imaz', 789)
Azfar 123
Valid Data

# Number with Loop
    * range(start,end,step)

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(2,10,2))

[2, 4, 6, 8]

In [27]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [31]:
for n in range(1,11):
    print(f"{2} x {n} = {n*2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [32]:
squares : list[int] = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive 
    for item in items:
        loop_body

# Comprehensive Style
    [loop_body for item in items]

In [33]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [36]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Jupyter Notbook always returns last line

In [38]:
"line1"
"line2"
"line3"

'line3'

In [41]:
digits : list[int] = list(range(0,11))

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
0
55

# Tuple
    * Immuteable
    * Can not be changed (Constant)

In [42]:
name : tuple[str] = ('A','B','C')
name[0]='E'

TypeError: 'tuple' object does not support item assignment

In [43]:
name : tuple[str] = ('A','B','C')
name : tuple[str] = ('E','B','C') # Redefined not Reassigned
name

('E', 'B', 'C')

Object inside can be updated not the main object in tuple

In [44]:
from typing import Any
data : tuple[Any] = ["A",[1,2,3],True]

print(data[1])
data[1].append(80)
print(data)

[1, 2, 3]
['A', [1, 2, 3, 80], True]